header {
    height: 5rem;
    background-color: #032541;
}

nav {
    height: 5rem;
    background-color: #032541;
}

.nav-link:hover {
    color: aquamarine !important;

}

.navbar-brand {
    font-size: 2em;
}

#logo {
    width: 6rem;
    height: 6rem;
}